<div class="center">
  This project used mongodb to store data, also the server side was developed on ASP.NET Core and used clean architecture.
  In this pet project you can see how I developed CRUD for mongodb, actually I'm not very good at Angular but never stop learning.
</div>

<h2>Go to the car list</h2>

<div class="card-container">
  <a class="card" rel="noopener" [routerLink]="['./cars']">
    <span>Car list</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
</div>
<div class="card-container">
  <a class="card" rel="noopener" [routerLink]="['./trucks']">
    <span>Truck list</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
</div>

