<table class="table table-bordered">
  <thead class="thread-dark">
    <tr>
      <th>#</th>
      <th>Vehicle Number</th>
      <th>Date</th>
      <th>Persons count</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars;">
      <td>{{car.id}}</td>
      <td>{{car.vehicleNumber}}</td>
      <td>{{car.addedOn}}</td>
      <td>{{car.persons.length}}</td>
      <td><a rel="noopener" [routerLink]="['/car/edit', car.id]">Edit</a></td>
      <td><a rel="noopener" [routerLink]="['/car/delete', car.id]">Remove</a></td>
    </tr>
  </tbody>
</table>

<div class="card-container">
  <a class="card" rel="noopener" [routerLink]="['/car/add']">
    <span>Add Car</span>
  </a>
</div>
